@media screen and (max-width: 700px) {

    /* hero */
  

    .hero__title {
        font-size: 50px;
    }



    /* story */
    .story__wrapper {
        grid-template-columns: 1fr;
    }

    .story__images {
        padding-top: 35px;
    }

    .story__img {
        display: flex;
        justify-content: center;
    }

    .story__info {
        padding: 0;
    }



    /* capabilities */

    .capabilities__wrapper{
        flex-direction: column;
    }
    .capabilities__info{
        justify-content: space-between;
        margin-top: 20px;
    }



    /* signup */

    .signup__title{
        font-size: 18px;
    }




    /* footer */

    .footer__wrapper{
        grid-template-columns: 3fr 1fr 1fr 1fr;
        grid-row-gap: 20px;
    }

}

@media screen and (max-width:600px){
    /* signup */

    .signup__wrapper{
        flex-direction: column;
    }
    .signup__title{
        margin-bottom: 20px;
    }
}